<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <title>FOI App Landing Page</title>
    <link
      rel="stylesheet"
      href="assets/vendors/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="foi-header landing-header">
        <div>
        <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
            <a class="navbar-brand" href="index.html">
              Quesio
            </a>
            <button
              class="navbar-toggler d-lg-none"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavId"
              aria-controls="collapsibleNavId"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link font-nav " href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-nav" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-nav h3" href="features.html">Dashboard</a>
                </li>
              </ul>
              <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item mr-2 mb-3 mb-lg-0">
                  <a class="btn btn-secondary btn-sm" href="register.html">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary btn-sm" href="login.html">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      <div class="container">

        <div class="header-content">
          <div class="row">
            <div class="col-md-4">
              <h1>Great app that makes your life awesome</h1>
              <p class="text-dark">
                He has led a remarkable campaign, defying the traditional
                mainstream parties courtesy of his En Marche! movement.
              </p>
              <button class="btn btn-primary mb-4">Contribute</button>


            </div>
            <div class="col-md-8">
              <img
                src="assets/images/index_image.png"
                alt="app"
                width="600px"
                class="img-fluid child-img"
              />
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="py-5 mb-5">
        <div class="container">
          <h2 class="features-center">Features</h2>
          <p class="text-muted mb-5 features-center">
            Thank you for your very professional and prompt response. I wished I
            had found you before
          </p>
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card pricing-card border-warning">
                <div class="card-body">
                  <h3 class="mb-1">Starter</h3>
                  <h3 class="mb-1 text-warning">Free</h3>
                  <p class="payment-period">Per month</p>
                  <p class="mb-4">
                    Thank you for your very professional and prompt response.
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card pricing-card border-primary active">
                <div class="card-body">
                  <h3>Popular</h3>
                  <h3 class="text-primary">$23.00</h3>
                  <p class="payment-period">Per month</p>
                  <p class="mb-4">
                    Thank you for your very professional and prompt response.
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card pricing-card border-success">
                <div class="card-body">
                  <h3>Enterprise</h3>
                  <h3 class="text-success">$40.00</h3>
                  <p class="payment-period">Per month</p>
                  <p class="mb-4">
                    Thank you for your very professional and prompt response.
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      

    <section class="review-margin mb-5">
      <div class="container">
        <h2 class="features-center">Satisfied Users</h2>
        <p class="text-muted mb-5 features-center">
          Thank you for your very professional and prompt response. I wished I
          had found you before
        </p>
        <div class="row">
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Great support available</h5>
            <p class="foi-review-content">
              Thank you for your very professional and prompt response. I wished
              I had found you before I spent money on a competitors theme.
            </p>
            <div class="media foi-review-user">
              <img
                src="assets/images/avatar/avatar_11.jpg"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Amarachi Nkechi</h6>
                <p>UX Designer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Great support available</h5>
            <p class="foi-review-content">
              Thank you for your very professional and prompt response. I wished
              I had found you before I spent money on a competitors theme.
            </p>
            <div class="media foi-review-user">
              <img
                src="assets/images/avatar/avatar_12.jpg"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Margje Jutten</h6>
                <p>Developer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Great support available</h5>
            <p class="foi-review-content">
              Thank you for your very professional and prompt response. I wished
              I had found you before I spent money on a competitors theme.
            </p>
            <div class="media foi-review-user">
              <img
                src="assets/images/avatar/avatar_13.jpg"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Monica Böttger</h6>
                <p>UX Designer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 mb-5">
      <div class="container">
        <h2>FAQ</h2>
        <p class="section-subtitle">Frequently Asked Questions</p>
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqOneTitle">
                <a
                  href="#faqOneCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">What is Foi app?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqOneCollapse"
                class="collapse"
                aria-labelledby="faqOneTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqTwoTitle">
                <a
                  href="#faqTwoCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Why should I use Foi app?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqTwoCollapse"
                class="collapse"
                aria-labelledby="faqTwoTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqThreeTitle">
                <a
                  href="#faqThreeCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">How can I use Foi app?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqThreeCollapse"
                class="collapse"
                aria-labelledby="faqThreeTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqFourTitle">
                <a
                  href="#faqFourCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Who will see my updates?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqFourCollapse"
                class="collapse"
                aria-labelledby="faqFourTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqFiveTitle">
                <a
                  href="#faqFiveCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Can people see my connections?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqFiveCollapse"
                class="collapse"
                aria-labelledby="faqFiveTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqSixTitle">
                <a
                  href="#faqSixCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Being a user, what all rights I have?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqSixCollapse"
                class="collapse"
                aria-labelledby="faqSixTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="foi-footer text-white">
      <div class="container">
        <div class="row footer-content">
        </div>
        <div class="row footer-widget-area">
          <div class="col-md-3 mt-3 mt-md-0">
            <nav>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#!" class="nav-link" style="font-size: larger;">Quesio</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">Upload questions here</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">Create a question pool</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <nav>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#!" class="nav-link" style="font-size: larger;">About</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">Features</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <nav>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#!" class="nav-link" style="font-size: larger;">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">support@quesio.com</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">+91 99999999999</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">India</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <p>All rights reserved.</p>
            <nav class="social-menu">
              <a href="#!"
                ><img src="assets/images/facebook.svg" alt="facebook"
              /></a>
              <a href="#!"
                ><img src="assets/images/instagram.svg" alt="instagram"
              /></a>
              <a href="#!"
                ><img src="assets/images/twitter.svg" alt="twitter"
              /></a>
              <a href="#!"
                ><img src="assets/images/youtube.svg" alt="youtube"
              /></a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 

  </body>
</html>